/* Define the font face */
@font-face {
    font-family: 'Daydream';
    src: local('Daydream'), /* Try to use the font installed on the user's system first */
         url('Daydream.ttf') format('truetype'), /* TrueType font format */
         url('Daydream.otf') format('opentype'); /* OpenType font format */
}

/* Apply the font to the body */
body {
    font-family: 'Daydream', sans-serif; /* Use the name of the font family defined in @font-face */
    background-color: #1a1a1a;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Other styles */
.container {
    text-align: center;
}

h1, h2 {
    margin: 0;
}

.subtext {
    font-size: 14px;
    margin-top: 10px;
}

/* Apply a different font to the GitHub button text */
.github-button span {
    font-family: sans-serif; /* Use a generic sans-serif font */
}

.github-button {
    display: inline-block;
    margin-top: 20px;
    background-color: #24292e;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
}

.github-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0366d6;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    transition: transform 0.3s ease;
}

.github-button:hover {
    background-color: #0645ad;
    transform: scale(1.1);
}

.github-button img {
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}
