body {
    font-family: 'Daydream', cursive;
    background-color: #1a1a1a; /* Dark background color */
    color: #fff; /* White text color */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1, h2 {
    margin: 0;
}

.subtext {
    font-size: 14px;
    margin-top: 10px;
}

.github-button {
    display: inline-block;
    margin-top: 20px;
    background-color: #24292e; /* GitHub button color */
    color: #fff; /* Button text color */
    padding: 10px 20px;
    border-radius: 20px; /* Rounded button */
    text-decoration: none;
}

/* GitHub button styles */
.github-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0366d6;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
    transition: transform 0.3s ease; /* Add transition for transform property */
}

.github-button:hover {
    background-color: #0645ad;
    transform: scale(1.1); /* Grow the button by 10% on hover */
}

.github-button img {
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}
